body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

label {
    display: inline-block;
    width: 250px;
    margin: 10px 0;
}

input, select {
    width: 100%;
    box-sizing: border-box;
}

button {
    display: inline-block;
    margin: 20px 0;
}
